body{
    color: white;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    /*font-size: 20px;*/
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
.logo-image{
    color: #212529;
    padding-left: -21px;
    position: relative;
    left: -40px;
    top: -12px;
    font-size: 27px;
    font-weight: 800;
}
.app-header-name{
    position: relative;
    font-style: italic;
    font-size: 20px;
    color: white;
}
.card-custom-fa-circle{
    color: #fff;
    margin: 10px 0px 0px 5px;
}

.app-header-name{
    position: relative;
    font-style: italic;
    font-size: 20px;
    color: white;
}

.custom-fa-circle{
    margin-left: 35px;
}



.card-header{
    background-color: #343a40 !important;
}
.card-header-child{
    background-color: #343a40 !important;
}
.card-img-content{
    height: 180px;
}

.card-logo-image{
    color: #343a40;
    padding-left: -21px;
    position: relative;
    left: -11px;
    top: -1px;
    font-size: 12px;
    font-weight: 800;
}

.card-header-name {
    position: relative;
    top: -2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 110px;
    display: inline-block;
    font-size: xx-small;
    font-weight: 600;
}
.rating-class{
    margin-left: 24px;
    position: relative;
    top: -20px;
    left: 5px;
    color: #FF6F50;
    font-size: x-small;
}
.rating-color{
    color: #FF6F50;
}
.card-img-content{
    height: 140px;
}
.my-card-style{
    width: 13rem!important;
    margin-bottom: 10px;
}

/*.card-header:first-child {*/
    /*border-radius: calc(.25rem - 1px) calc(3.25rem - 1px) 0 0;*/
/*}*/
.card-header {
    padding: 0px!important;
}
.card-body{
    font-size: 12px;
    padding: 0.25rem;
}


footer {
    background-color: #343a40;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}


.section-steps {
    background-color: #f4f4f4;
}

section {
    padding: 80px 0;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;


    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

h1, h2, h3 {
    font-weight: 300;
    /*text-transform: uppercase;*/
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.small-profile-view img {
    height: 35px;
    border-radius: 50%;
    position: relative;
    top: -25px;
    left: 131px;
}


.login-logout-link{
    font-size: 11px;
    text-decoration: underline;
}
.profile-preview-img{
    max-height: 150px;
    max-width: 120px;
}

.label-profile{
    color: lightgreen;
    cursor: pointer;
    font-size: 12px;
}

.label-profile:hover{
    text-decoration: underline;
}

#profile_file_input{
    display:none;
}
.mobile-no-field{
    width: 50%;
    display: inline !important;
}
.home-content{
    margin: 10px;
}
.home-filter-panel{
    background-color: #686665;
}
.filter-criteria-f-fg{
    margin-top: 10px;
}
footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-google-plus-square,
.fa-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}

.works-step div {
    color: #e67e22;
    font-size: 150%;
    height: 54px;
    width: 54px;
    border: 2px solid #e67e22;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 25px;
    float: left;
    padding: 5px;
}


.filter-criteria-header{
    background-color: #343a40;
    position: relative;
    left: -15px;
    width: 115%;
    height: 35px;
    text-align: center;
    padding-top: 5px;
}
.view-profile, .login-profile{
    color: black;
}
.login-profile{
    margin: 10px 0px;
}

.position-relative{
    margin: 0px;
}
.section-form{
    color: black;
}

.pagination-parent{
    color: black;
}




.pagination-wrapper {
    overflow-x:auto;
}

.pagination {
    justify-content: center;
    margin:30px;
}

.data-slice {
    margin-top: 15px;
}

.about-us{
    color: black;
}

h5, label{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
}
p {
    font-size:small;
    font-weight: normal;
    margin-bottom: 1rem;
    display: inline;
}
.rated-by{
    font-weight: 600;
}
.fg-margin{
    margin-left: 15px;
}

.profile-button-group{
    margin-top: 15px;
}

.rating-count-class{
    position: absolute;
    margin-top: -15px;
    margin-left: 10px;
    font-size: x-small;
    color: orange;
}